[user]
	name = Greg Guthe
	email = gregg@aweber.com
[github]
	user = g-k
[gist]
	private = no
	browse = yes
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	editor = /usr/local/bin/emacs --debug-init
[push]
	default = current
